---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Us"
	description="Professional, accredited and qualified Safety Outsourcing"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Welcomed to Safety Outsourced. Safety Outsourced's director is 
		Jeremy Clay. He is an award-winning safety professional with over
		2 decades of experience. Jeremy has completed Post Graduation Qualifications in Safety and HR 
		and is a Certified OHS Professional, Certified OHS Practicioner and a Fellow of the AIHS
	</p>

	<p>
		Jeremy is involved in standards development, volunteering on many technical committees through 
		the Australian Institute of Health and Safety. Jeremy is the Chair of the Standards Committee
		and is on the Executive Committee of the College of Fellows for the AIHS.
	</p>

	<p>
		Jeremy's awards include:
		<ol>Outstanding Service to the Instituted (AIHS)</ol>
		<ol>Dean's list award for academic excellence (QUT)</ol>
		<ol>Demonstrated leadership in Rehabilitation and Returned to Work</ol>
		<ol>Best individual contribution to Rehabilitation and Return to Work systems (Commended)</ol>
		<ol>Best Health and Wellbeing Systems (Highly Commended)</ol>
		<ol>Best demonstrated leadership in Work Health and Safety (Finalist)</ol>

	</p>

	</Layout>
